[Desktop Entry]
Name=Plague Security

X-KDE-PluginInfo-Name=Plague Security
X-KDE-PluginInfo-Author=Plague Security Dev Team
X-KDE-PluginInfo-Email=dev@plaguesecurity.com
X-KDE-PluginInfo-License=GPL-3.0+

